@import "tailwindcss";


@import url("https://fonts.googleapis.com/css2?family=Hubot+Sans:wght@400;700&family=IBM+Plex+Mono:wght@300;600&display=swap");


:root {

  --font-heading: "Hubot Sans", sans-serif;
  --font-body: "IBM Plex Mono", monospace;


  --background: #ffffff;
  --foreground: #1a202c;
  --primary: #f6e05e;
  --secondary: #2b6cb0;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a202c;
    --foreground: #f7fafc;
    --primary: #ecc94b;
    --secondary: #63b3ed;
  }
}


@layer base {

  html {
    font-family: var(--font-body);
    background-color: var(--background);
    color: var(--foreground);
  }

  /* headings get your Hubot Sans */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }
}